*{
    margin: 0;
    padding-top: 0;
    box-sizing: none;
}
body{
    background-color: rgb(243, 229, 216);
    font-family: sans-serif;
    z-index: 1;
}
.conts{
    min-width: 90%;
    max-width: 90%;
    margin: auto;
}
hr{
    color: rgb(224, 224, 224);
    max-width: 90%;
    min-width: 90%;
    margin: auto;
}
.main-cont{
    display: flex;
    background-color: white;
    border-radius: 20px;
    max-width: 45%;
    margin: 80px auto;
    flex-direction: column;
    padding: 20px;
}
.imgs img{
    max-width: 90%;
    border-radius: 20px;
    width: 100%;
}
.item{
    margin: auto;
    padding-top: 20px;
}
.imgs{
    display: flex;
    width: 100%;

}
.header{
    padding: 3%;
    margin: 0 2%;
}
.header h1{
    margin-bottom: 2%;
}
.p-cont{
    background-color: rgb(255, 247, 252);
    border-radius: 20px;
    font-size: 15px;
    margin: 10px auto 20px;
    min-width: 85%;
    padding: 30px;
}
.p-cont ul{
    list-style: disc red;

}
.p-cont h2{
    font-size: 20px;
    max-width: 90%;
    color: rgb(113, 47, 74);
}
.p-cont li{
    color: rgb(101, 37, 63);
}
.p-cont p{
    color: black;
}
.i-cont{
    max-width: 90%;
    margin: auto;
    min-width: 90%;
 
}
.i-cont,.i-cont-h li {
    color: rgb(132, 70, 49);
}
.i-cont p{
    color: black;
    margin: 15px 0;
}
.in-cont,.in-cont-h li{
    color: rgb(132, 70, 49);
}
.in-cont p{
    color: black;
    margin: 20px 0;
}
.in-cont h1{
    margin:  20px 0;
}
.n-cont h1{
    color: rgb(132, 70, 49);

}
.col{
    border-collapse:inherit ;
    border-spacing: 0 20px ; 
    min-width: 100%;
    max-width: 100%;
    display: inline-table;
}
.ed{
    margin-right: 50px;
}
.ad{
    color: rgb(132, 70, 49);

}
.aa{
    border-bottom: 1px solid black;
}
.sepa td{
    position: relative;
    min-height: 2px;
    max-height: 2px;
    background-color: grey;
}
@media (max-width:778px) {
    body{
        overflow-x: hidden;
    }
    .main-cont{
        margin: 0;
        width: 100%;
        max-width: none;
        padding: 0;
        border-radius: none;
    }
    .item{
        min-width: 100%;
        border-radius: none;
        padding: 0;
    }
    .img img{
        max-width: none;
        min-width: 100%;
        padding: 0;
    }
    .conts{
        margin: 4%;
        max-width: 90%;
    }

}